* {
    margin: 0;
    padding: 0;
}

.bg-principal {
    /* background-color: #440991;  */
    background-color: #853BE6;

}

.bg-secondary {
    background-color: #d3b3fd;
}

.bg-super-purple {
    background-color: #440991;
    margin-top: -2vh;
    margin-bottom: -1vh;
    width: 100vw;
}

.margin-2 {
    margin: 2vw;
}

.not-margin-top {
    margin-top: 0;
}

.not-margin-bottom {
    margin-bottom: 0;
}

.padding-2 {
    padding: 2vh;
}

.border-radius {
    border-radius: 2vh;
}

.center {
    text-align: center;
}

.monospace {
    font-family: monospace;
    color: black;
    font-weight: 400;
    font-size: x-large;
}

.cool h5 {
    font-family: monospace;
    color: whitesmoke;
    font-weight: 400;
    font-size: x-large;
    margin: 5vh;
}

.cool h5 span {
    font-weight: 900;
    text-decoration: underline;
}

.songs {
    display: flex;
}

/* From uiverse.io by @bhaveshxrawat */
.card {
    text-align: center;
    width: 100vw;
    height: 80vh;
    background: #440991;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
}

.card h1 {
    font-family: monospace;
    font-weight: 900;
    color: white;
    font-size: 6em;
}

.card p {
    font-family: monospace;
    color: whitesmoke;
}

.gridImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gridImages img {
    width: 30vw;
}
.gridImages iframe {
    width: 30vw;
}

.newsCard{
    text-align: center;
    background-color: white;
    border-radius: 3vw;
    width: 25vw;
    margin: 0 auto;
    padding: 2vw;
}
.newsCard img{
    max-width: 21vw;
    border-radius: 3vw;
}
.newsCard h4{
    font-size: 4vh;
}
.newsCard p{
    font-size: 2vh;
}

/* .card::before {
    content: '';
    position: absolute;
    width: 10vw;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 5s linear infinite;
    transition: all 0.2s linear;
} */

/* @keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */

.card::after {
    content: '';
    position: absolute;
    background: #440991;
    inset: 5px;
    border-radius: 15px;
    z-index: -1;
}

.credits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    width: 100vw;
    color: white;
    width: 100vw;
    margin-top: -5vh;
    padding: 3vh;
}

.credits div {
    margin: 2vw;
}

.credits h3 {
    font-family: monospace;
    color: whitesmoke;
    font-weight: 400;
    font-size: x-large;
}



@media (max-width: 600px) {
    .songs {
        display: grid;
    }

    .card {
        height: 75vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card h1 {
        margin-top: -10vh;
        font-family: monospace;
        font-weight: 900;
        font-size: 4em;
    }

    .credits {
        grid-template-columns: repeat(1, 1fr);
    }

    .gridImages {
        grid-template-columns: repeat(1, 1fr);
    }
    .gridImages img{
        border-radius: 2vh;
        width: 80%;
    }
    .gridImages iframe {
        width: 80%;
    }
    .newsCard{
        text-align: center; 
        background-color: white;
        border-radius: 3vw;
        width: 75vw;
        margin: 0 auto;
        padding: 6vw;
    }
    .newsCard img{
        max-width: 63vw;
        border-radius: 3vw;
    }
}